.c1 {
  top: 213px; left: 413px; width: 220px; height: 150px; position: absolute; background-color: #c2ceff; padding: 10px; border: 1px solid #ccc; border-radius: 6px; font-family: Arial, sans-serif; font-size: 21px; color: #b3007a; line-height: 45px; font-weight: bold;
}

.c2 {
  
}

.c3 {
  
}