<div style="position: relative; width: 100%; height: 100vh;">
<div class="c1">Nuevo Div</div>
<label class="c2">Etiqueta:</label>
<button class="c3">Click me</button>
<select class="c4">
    <option value="Opción 1">Opción 1</option>
    <option value="Opción 2">Opción 2</option>
    <option value="Nueva opción">Nueva opción</option>
</select>
<div class="c8">
    <div class="checklist-item">
      <input type="checkbox" 
             id="f6c9c2ce-c159-414e-817f-20443c543e08_item_0" 
              
             
             class="checklist-input">
      <label for="f6c9c2ce-c159-414e-817f-20443c543e08_item_0" class="checklist-label">Opción 1</label>
    </div>
    <div class="checklist-item">
      <input type="checkbox" 
             id="f6c9c2ce-c159-414e-817f-20443c543e08_item_1" 
              
             
             class="checklist-input">
      <label for="f6c9c2ce-c159-414e-817f-20443c543e08_item_1" class="checklist-label">Opción 2</label>
    </div>
    <div class="checklist-item">
      <input type="checkbox" 
             id="f6c9c2ce-c159-414e-817f-20443c543e08_item_2" 
              
             
             class="checklist-input">
      <label for="f6c9c2ce-c159-414e-817f-20443c543e08_item_2" class="checklist-label">Nuevo ítem</label>
    </div>
</div>
<table class="c12">
  <tbody>
    <tr class="c21">
      <td class="c22">Col 1</td>
      <td class="c23">Col 2</td>
      <td class="c24">Col 3</td>
    </tr>
    <tr class="c25">
      <td class="c26">Dato 1</td>
      <td class="c27">Dato 2</td>
      <td class="c28">Dato 3</td>
    </tr>
  </tbody>
</table>
</div>