<div style="position: relative; width: 100%; height: 100vh;">
<div class="c1">hola</div>
<label class="c2">Etiqueta:</label>
<button class="c3">Click me</button>
<select class="c4"><option class="c5">abc</option><option class="c6">def</option><option class="c7">Nueva opción</option></select>
<table class="c8"><tr class="c9"><td class="c10">hola</td><td class="c11">adios</td><td class="c12">Col 3</td></tr><tr class="c13"><td class="c14">Dato 1</td><td class="c15">Dato 2</td><td class="c16">Dato 3</td></tr></table>
<checklist class="c17"><checkbox class="c18">Opción 1</checkbox><checkbox class="c19">Opción 2</checkbox></checklist>
<checklist class="c20"><checkbox class="c21">Opción 1</checkbox><checkbox class="c22">werwerer</checkbox><checkbox class="c23">Nuevo ítem</checkbox></checklist>
<select class="c24"><option class="c25">Opción 1</option><option class="c26">Opción 2</option><option class="c27">Nueva opción</option></select>
</div>